doctype html
html(lang="en")
  head
    title= title
    script(type='text/javascript').

      const checkStatus = response => {
        if (response.status >= 200 && response.status < 300) {
          return response
        } else {
          var error = new Error(response.statusText)
          error.response = response
          throw error
        }
      }

      const parseJSON = response => {
        return response.json()
      }

      const saveAndClose = () => {
        fetch('/keys', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            key: 'value',
          })
        }).then(checkStatus)
        .then(parseJSON)
        .then(data => {
          console.log('request succeeded with JSON response', data)
          window.close()
        }).catch(error => {
          console.log('request failed', error)
        })

        return false
      }

  body
    h1= message

    ul
      for value, key in env
        li
          div= `${key}=${value}`

    button(onclick='saveAndClose()') save and close
