doctype html
html(lang="en")
  head
    title Envt
    script(src='https://cdn.jsdelivr.net/npm/vue')
  body
    h1 Envt
    h3 Config vars
    div(id="app")
      div(v-for="item in keys")
        input(v-model="item.key")
        input(v-model="item.value")
      button(v-on:click="saveAndClose") save

    script(type='text/javascript').
      const checkStatus = response => {
        if (response.status >= 200 && response.status < 300) {
          return response
        } else {
          var error = new Error(response.statusText)
          error.response = response
          throw error
        }
      }

      const parseJSON = response => {
        return response.json()
      }

      var app = new Vue({
        el: '#app',
        data: {
          // From backend. !{something}
          keys: !{JSON.stringify(env)}
        },
        methods: {
          saveAndClose: function () {
            fetch('/keys', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(this.keys)
            }).then(checkStatus)
            .then(parseJSON)
            .then(data => {
              console.log('request succeeded with JSON response', data)
              // TODO: Close on success?
              // window.close()
            }).catch(error => {
              console.log('request failed', error)
            })
          }
        }
      })
